* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

.main{
  height: 100vh;
  background-image: url(../image/hero-bg.jpg);
  object-fit: cover;
  color: white;
}

.hero{
  width: 50vh;
}
.links ul{
  list-style: none;
}

section{
  height: 50vh;
}

.offer-section{
  height: 35%;
  width: 100%;
  background-color: white;
}

.offer-section .cards{
  background-color: #121212;
  color: aliceblue;
  height: 415px;
  width: 555px;
}

.offer-section .cards img {
  object-fit: cover;
  border-radius: 50%;
  border-color: yellow;
  height: 165px;
  width: 165px;

}