* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}
/* .main{
  height: 100vh;
  background-image: url(../image/hero-bg.jpg);
  object-fit: cover;
  color: white;
}

.hero{
  width: 50vh;
}
.links ul{
  list-style: none;
}

section{
  height: 50vh;
}

.offer-section{
  height: 35%;
  width: 100%;
  background-color: white;
}

.offer-section .cards{
  background-color: #121212;
  color: aliceblue;
  height: 415px;
  width: 555px;
}

.offer-section .cards img {
  object-fit: cover;
  border-radius: 50%;
  border-color: yellow;
  height: 165px;
  width: 165px;

} */

.about_section {
  background: #222831;
  color: #ffffff;
}

.about_section .img-box img {
  width: 100%;
  max-width: 445px;
  position: relative;
  z-index: 2;
}

layout_padding {
  padding: 90px 0;
}

